:root {
  /* https://utopia.fyi/type/calculator?c=328,16,1.125,1215,18,1.2,3,1,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l|s-m&g=s,m,2xl,12 */
  --step--1: clamp(0.8333rem, 0.8171rem + 0.0804vw, 0.8854rem);
  --step-0: clamp(0.9375rem, 0.8986rem + 0.1929vw, 1.0625rem);
  --step-1: clamp(1.0547rem, 0.9861rem + 0.3399vw, 1.275rem);
  --step-2: clamp(1.1865rem, 1.0795rem + 0.53vw, 1.53rem);
  --step-3: clamp(1.3348rem, 1.1787rem + 0.7732vw, 1.836rem);

  --font-weight-normal: 400;
  --font-weight-medium: 450;

  --leading-offset: 0.65rem;

  --prose-foreground: color-mix(in oklab, var(--foreground) 80%, transparent);
  --prose-marker: color-mix(in oklab, var(--foreground) 30%, transparent);

  --measure: 40rem;
}

body {
  font-family: var(--font-sans);
  text-wrap: pretty;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
}

a {
  text-decoration: underline;
  text-decoration-color: var(--underline, transparent);
  text-decoration-thickness: max(1px, 0.0625em);
  text-decoration-skip-ink: none;
  text-underline-position: under;
  text-underline-offset: -0.06em;

  &:hover {
    text-decoration-color: currentColor;
  }
}

prose-content {
  display: block;
  font-size: var(--step-0);
  line-height: calc(var(--leading-offset) + 1em);
  color: var(--foreground);
  text-wrap: pretty;
  overflow-wrap: break-word;

  :where(
    p,
    ul,
    ol,
    blockquote,
    pre,
    table-scroll,
    figure,
    hr,
    details,
    math-display,
    .expressive-code
  ) {
    margin-block: 0 1em;
  }

  > :first-child {
    margin-block-start: 0;
  }

  > :last-child {
    margin-block-end: 0;
  }

  :is(p, li) {
    color: var(--prose-foreground);
  }
}
